{{>header}}

        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{>nav}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
                 {{!-- ID Card --}}
            <!-- Button trigger modal -->
                <!-- Modal -->
               <div class="modal fade"  id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" >
                  <div class="modal-content custom-content-card text-center ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">User ID Card</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                  
                      <div class="custom-card shadow"  id="idcardWrap">
                        {{!-- card-front --}}
                        <div class="card-front">
                              {{!-- front-header --}}
                            <div class="card-front-header d-flex justify-content-between">
                              <div class="logo-card">
                                <img style="width: 35px;" src="/images/logo.png" alt="logo">
                              </div>
                              <div class="qrcode-card">
                                <input type="hidden" id="qr_code_value_id" value={{userData.[0].id}}>
                                <input type="hidden" id="qr_code_value_name" value={{userData.[0].name}}>
                                <input type="hidden" id="qr_code_value_email" value={{userData.[0].email}}>
                                <input type="hidden" id="qr_code_value_phone" value={{userData.[0].phone}}>
                                <input type="hidden" id="qr_code_value_division" value={{userData.[0].division}}>
                                {{!-- qr_code display --}}
                                <div id="output_qr"></div>
                                
                                 {{!-- <img style="width: 50px;" src="/images/qr.png" alt="qr"> --}}
                              </div>
                            </div>
                          
                            {{!-- front-image-card --}}
                            <div class="front-image-card w-50">
                              <div class="img-shape">
                                <img src="data:image/png;base64,{{userData.[0].userphoto}}" style="width: 120px;" alt="proimg">
                              </div>
                            </div>
                            <div class="name_title">
                              <h4>{{userData.[0].firstname}}  {{userData.[0].lastname}}</h4>
                              <h5>{{designation userData.[0].committee_designation}}</h5>
                              <span class="d-block">Central committee (LAB)</span>
                              <small>Valid Till 24-07-2023</small>
                              
                            </div>
                            <div class="info-card text-left mt-2">
                            <h4><strong>ID: <span>00000{{userData.[0].id}}</span></strong></h4>
                            <small>Blood Group: <span>{{userData.[0].bloodgroup}}</span></small>
                            <p>Mob: <span>+88{{userData.[0].phone}}</span></p>
                            </div>
                            <div class="id-card-footer">
                              <div class="auth d-flex justify-content-between">
                                <div class="auth-president">
                                  <span>President</span>
                                  <i class="d-block">Signature</i>
                                </div>
                                <h6>Authorised By:</h6>
                                <div class="auth-secretary">
                                  <span>Secretary</span>
                                  <i class="d-block">Signature</i>
                                </div>
                              </div>
                            </div>
                        </div>
                         <div class="html2pdf__page-break"></div>
                        {{!-- card-Back --}}
                        <div class="card-front back mt-1  text-center position-relative" > 
                         <div class="logo-card-back mb-1 ">
                              <img style="width: 70px;" src="/images/logo.png" alt="logo">
                         </div>
                         <div class="heading-back text-uppercase mt-3">
                            <h4 style="font-size: 8px; color:black; line-height:0%" class="font-weight-bold">Law association of bangladesh</h4>
                            <span style="font-size: 6px; letter-spacing:1px;color:rgb(31, 31, 31);font-wight:500px; margin-top:-2px;display:block">Fight for right i fight for justice</span>
                          </div>
                          <div class="contact-info-card">
                            <ul>
                              <li><i class="fa fa-mobile mr-1" aria-hidden="true"></i> +88{{userData.[0].phone}}</li>
                              <li><i class="fa fa-map-marker mr-1" aria-hidden="true"></i>{{userData.[0].upazila}},{{userData.[0].district}},Bangladesh</li>
                              <li><i class="fa fa-envelope mr-1" aria-hidden="true"></i> {{userData.[0].email}}</li>
                            </ul>
                      
                          
                          </div>
                          <div class="id-card-footer back">
                            www.labbd.org
                            </div>
                        </div>
                      
                  </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="pdfGenarator()" class="btn btn-primary">Download</button>
                    </div>
                 </div>
                </div>
               </div>

              {{!-- Admin Edit modal --}}
               <!-- Button trigger modal -->
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                   <form id="categorysubmitbtn" >
                    <div class="modal-header">
                         
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                     
                        <div class="form-group">
                            <label for="">ID</label>
                            <input type="text" readonly value="" class="form-control" id="com_id">
                        </div>
                             <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" readonly value="" class="form-control" id="email_admin">
                        </div>
                        <div class="form-group">
                               <select onchange="adminAreaDisplay()" name="adminrole" id="adminrole" required>
                                  <option value="">Choose role</option>
                                  <option value="1">Super Admin</option>
                                  <option value="2">Secoindary Admin</option>
                              </select>
                        </div>
                         <div class="form-group " id="area_div">
                              <label for="area" class="col-md-12 p-0">Admin Area</label>
                              <div class="col-md-12 border-bottom p-0">
                                  <select name="adminarea" id="adminarea" >
                                      <option value="">Choose One</option>
                                      <option value="Dhaka">Dhaka</option>
                                      <option value="Barishal">Barishal</option>
                                      <option value="Khulna">Khulna</option>
                                      <option value="Rajshahi">Rajshahi</option>
                                      <option value="Rangpur">Rangpur</option>
                                      <option value="Mymonshing">Mymonshing</option>
                                      <option value="Sylhet">Sylhet</option>
                                      <option value="Chittagong">Chittagong</option>
                                  </select>
                              </div>
                          </div>    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                   </form> 
                    </div>
                </div>
            </div>  
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14">Admin list</h4>
                      
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ml-auto">
                                <li><a href="#">Admin</a></li>
                                <li><a href="/admin/create-admin" class="btn btn-primary">Create New Admin</a></li>
                            </ol>
                           
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
             <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            {{!-- ssc --}}
                            <div class="col-sm-12">
                                 {{#if message}}
                                    <div class="alert {{message.type}}" role="alert">
                                        {{message.message}}
                                    </div>

                                    {{/if}}
                                <div class="card card-warning card-outline">
                                    <div class="card-header">
                                        All Admin
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-striped dt-responsive nowrap" id="active_blog" width="100%">
                                                <thead>
                                                <tr>
                                                    <th>#SL</th>
                                                    <th>Email</th>
                                                    <th>Admin Role</th>
                                                    <th>Area</th>
                                                    
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#each alladminData}}
                                                    {{!-- single-donor --}}
                                                <tr>
                                                    <td>{{counter @index}}</td>
                                                    <td>{{this.email}}</td>
                                                    <td>{{ role this.adminrole}}</td>
                                                    <td>{{this.adminarea}}</td>

                                                    <td>
                                                        <div class="btn-group">
                                                            <a  href="/users/singleuserview/{{this.userid}}" role="button" class="btn btn-readmore btn-info btn-sm">Details</a>
                                                            <a onclick="committeeEdit({{this.id}},'{{this.adminarea}}','{{this.adminrole}}','{{this.email}}')", data-bs-toggle="modal" data-bs-target="#staticBackdrop"  role="button" class="btn btn-readmore btn-warning btn-sm ml-1">Edit</a>
                                                            <a href="/admin/deleteadmin/{{this.id}}/{{this.email}}" onclick="window.alert('Are you sure to delete this admin?')" role="button" class="btn btn-readmore btn-danger ml-1 btn-sm"><i class="fa fa-trash"></i></a>

                                                        </div>
                                                    </td>
                                                </tr>
                                                {{/each}}                      
                                                </tbody>
                                            </table>
                                        </div>
                                        

                                    </div>
                                </div>
                            </div>

                           <script>
                              const adminrole_el =  document.getElementById('adminrole'); 
                              const id_el =  document.getElementById('com_id'); 
                              const adminarea_el =  document.getElementById('adminarea'); 
                              const email_admin_el =  document.getElementById('email_admin'); 
                              const committeeEdit = (id,adminarea,adminrole,email)=>{
                                  id_el.value = id;
                                  adminarea_el.value = adminarea;
                                  adminrole_el.value = adminrole; 
                                  email_admin_el.value = email;
                              }
                         //onsubmit
                        const categorysubmitbtn = document.getElementById("categorysubmitbtn");
                        categorysubmitbtn.addEventListener("submit",(e)=>{
                            e.preventDefault();
                            window.location.href = `/admin/update-admin?id=${id_el.value}&adminrole=${adminrole_el.value}&adminarea=${adminarea_el.value}&email=${email_admin_el.value}`;
                            
                        })

                 </script>
                  <script>
                          const adminrole =  document.getElementById("adminrole");
                          const area_div =  document.getElementById("area_div");
                          const adminarea =  document.getElementById("adminarea");
                          if(adminrole.value == 2){
                            area_div.style.display="block";
                          }
                          const adminAreaDisplay = () => {
                              if(adminrole.value == 2){
                                  area_div.style.display="block" 
                                  adminarea.setAttribute("required", "true")  
                              }
                              else{
                                  area_div.style.display="none";
                                  adminarea.removeAttribute("required");
                                  adminarea.value = null;
                              }            
                          }
                        
                 </script>
                            
                </div>
                </div>    
            </section>

           </div>
            </section>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
           {{>footer}}