{{>header}}

          
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{>nav}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
          {{!-- delete modal --}}
          <!-- Modal -->
          <div class="modal fade" id="deletemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  Are you sure to delete this user permanantly?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <button type="button" class="btn btn-primary">Yes</button>
                </div>
              </div>
            </div>
          </div>
            <!-- Button trigger modal -->
                <!-- Modal -->
               <div class="modal fade"  id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" >
                  <div class="modal-content custom-content-card text-center ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">User ID Card</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                  
                      <div class="custom-card py-3 shadow"  id="idcardWrap">
                        {{!-- card-front --}}
                        <div class="card-front m-3">
                              {{!-- front-header --}}
                            <div class="card-front-header d-flex justify-content-between">
                              <div class="logo-card">
                                <img style="width: 50px;" src="/images/logo.jpg" alt="logo">
                              </div>
                              <div class="qrcode-card">
                                <input type="hidden" id="qr_code_value_id" value={{userData.[0].id}}>
                                <input type="hidden" id="qr_code_value_name" value={{userData.[0].name}}>
                                <input type="hidden" id="qr_code_value_email" value={{userData.[0].email}}>
                                <input type="hidden" id="qr_code_value_phone" value={{userData.[0].phone}}>
                                <input type="hidden" id="qr_code_value_division" value={{userData.[0].division}}>
                                {{!-- qr_code display --}}
                                <div id="output_qr"></div>
                                
                                 {{!-- <img style="width: 50px;" src="/images/qr.png" alt="qr"> --}}
                              </div>
                            </div>
                          
                            {{!-- front-image-card --}}
                            <div class="front-image-card w-50">
                              <div class="img-shape">
                                <img src="data:image/png;base64,{{userData.[0].userphoto}}" style="width: 120px;" alt="proimg">
                              </div>
                            </div>
                            <div class="name_title mt-3">
                              <h4>{{userData.[0].firstname}}  {{userData.[0].lastname}}</h4>
                              <h5>Vice President</h5>
                              <span class="d-block">Central committee (LAB)</span>
                              <small>Valid Till 24-07-2023</small>
                              
                            </div>
                            <div class="info-card text-left mt-2">
                            <h4><strong>ID: <span>00000{{userData.[0].id}}</span></strong></h4>
                            <small>Blood Group: <span>{{userData.[0].bloodgroup}}</span></small>
                            <p>Mob: <span>+88{{userData.[0].phone}}</span></p>
                            </div>
                            <div class="id-card-footer">
                              <div class="auth d-flex justify-content-between">
                                <div class="auth-president">
                                  <span>President</span>
                                  <i class="d-block">Signature</i>
                                </div>
                                <h6>Authorised By:</h6>
                                <div class="auth-secretary">
                                  <span>Secretary</span>
                                  <i class="d-block">Signature</i>
                                </div>
                              </div>
                            </div>
                        </div>
                         <div class="html2pdf__page-break"></div>
                        {{!-- card-Back --}}
                        <div class="card-front back mt-4 m-3 text-center position-relative" > 
                         <div class="logo-card-back mb-1 ">
                              <img style="width: 70px;" src="/images/logo.jpg" alt="logo">
                         </div>
                         <div class="heading-back text-uppercase mt-3">
                            <h4 style="font-size: 12px; color:black; line-height:0%" class="font-weight-bold">Law association of bangladesh</h4>
                            <span style="font-size: 10px; letter-spacing:1px;color:rgb(31, 31, 31);font-wight:500px;font-size:8px; margin-top:-2px;display:block">Fight for right i fight for justice</span>
                          </div>
                          <div class="contact-info-card">
                            <ul>
                              <li><i class="fa fa-mobile mr-1" aria-hidden="true"></i> +88{{userData.[0].phone}}</li>
                              <li><i class="fa fa-map-marker mr-1" aria-hidden="true"></i>{{userData.[0].upazila}},{{userData.[0].district}},Bangladesh</li>
                              <li><i class="fa fa-envelope mr-1" aria-hidden="true"></i> {{userData.[0].email}}</li>
                            </ul>
                      
                          
                          </div>
                          <div class="id-card-footer back">
                            www.labbd.org
                            </div>
                        </div>
                      
                  </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="pdfGenarator()" class="btn btn-primary">Download</button>
                    </div>
                 </div>
                </div>
                </div>
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14">Dashboard</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ml-auto">
                                <li><a href="#">Dashboard</a></li>
                            </ol>
                            <a href="/" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">View Your Site</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                 {{#if message}}
                   <div class="alert {{message.type}}" role="alert">
                     {{message.message}}
                   </div>

                 {{/if}}


       <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
              <a href="https://bdalumni.com/admin/blogs" style="text-decoration: none;color: black">

              <div class="info-box">
                <span class="info-box-icon bg-info"><i class="fas fa-blog"></i></span>
        
                <div class="info-box-content">
                  <span class="info-box-text">Total Blog</span>
                  <span class="info-box-number count">4</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              </a>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <a href="https://bdalumni.com/admin/viewPayments" style="text-decoration: none;color: black">

                <div class="info-box">
                  <span class="info-box-icon bg-success"><i class="fas fa-credit-card"></i></span>
          
                  <div class="info-box-content">
                    <span class="info-box-text">Total Payment</span>
                    <span class="info-box-number count">36</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
              </a>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <a href="https://bdalumni.com/admin/video-list" style="text-decoration: none;color: black">

              <div class="info-box">
                <span class="info-box-icon bg-warning"><i class="fas fa-video"></i></span>
        
                <div class="info-box-content">
                  <span class="info-box-text">Total Videos</span>
                  <span class="info-box-number count">10</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              </a>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <a href="https://bdalumni.com/admin/question-list" style="text-decoration: none;color: black">

              <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="fas fa-question-circle"></i></span>
        
                <div class="info-box-content">
                  <span class="info-box-text">Total Questions</span>
                  <span class="info-box-number count">4</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              </a>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-md-3 col-sm-6 col-12">
            <a href="https://bdalumni.com/admin/users" style="text-decoration: none;color: black">
              <div class="info-box">
                <span class="info-box-icon bg-info"><i class="fas fa-users"></i></span>
        
                <div class="info-box-content">
                  <span class="info-box-text">Total Members</span>
                  <span class="info-box-number count">25</span>
                </div>
                <!-- /.info-box-content -->
              </div>
            </a>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <a href="https://bdalumni.com/admin/job-opportunity-list" style="text-decoration: none;color: black">

              <div class="info-box">
                <span class="info-box-icon bg-success"><i class="fas fa-building"></i></span>
        
                <div class="info-box-content">
                  <span class="info-box-text">Total Jobs Opportunity</span>
                  <span class="info-box-number count">1</span>
                </div>
                <!-- /.info-box-content -->
              </div>
            </a>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <a href="https://bdalumni.com/admin/committee" style="text-decoration: none;color: black">

            <div class="info-box">
              <span class="info-box-icon bg-warning"><i class="fas fa-users"></i></span>
      
              <div class="info-box-content">
                <span class="info-box-text">Total Committee</span>
                <span class="info-box-number count">36</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            </a>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <a href="https://bdalumni.com/admin/donors" style="text-decoration: none;color: black">
              <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="fas fa-users"></i></span>
        
                <div class="info-box-content">
                  <span class="info-box-text">Total Blood Donor</span>
                  <span class="info-box-number count">3</span>
                </div>
                <!-- /.info-box-content -->
              </div>
            </a>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row --> 
    
      <h3>Blood Donor</h3>
        <hr>

    <input type="hidden" name="" id="bloodhidden" value="{{donatebloodData}}">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <a href="/users/availablebloodlist/A+" style="text-decoration: none;color: black">
            <div class="info-box">
              <span class="info-box-icon bg-info">A+</span>
      
              <div class="info-box-content">
                <span class="info-box-text">Donor</span>
                <span class="info-box-number count" id="A_positive">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </a>
          
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <a href="/users/availablebloodlist/B+" style="text-decoration: none;color: black">
            <div class="info-box">
            <span class="info-box-icon bg-success">B+</span>
    
            <div class="info-box-content">
              <span class="info-box-text">Donor</span>
              <span class="info-box-number count" id="B_positive">0</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </a>
          
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <a href="/users/availablebloodlist/O+" style="text-decoration: none;color: black">
            <div class="info-box">
              <span class="info-box-icon bg-warning">O+</span>
      
              <div class="info-box-content">
                <span class="info-box-text">Donor</span>
                <span class="info-box-number count" id="O_positive">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </a>
          
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <a href="/users/availablebloodlist/AB+" style="text-decoration: none;color: black">
            <div class="info-box">
              <span class="info-box-icon bg-danger">AB+</span>
      
              <div class="info-box-content">
                <span class="info-box-text">Donor</span>
                <span class="info-box-number count" id="AB_positive">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </a>
         
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <a href="/users/availablebloodlist/A-" style="text-decoration: none;color: black">
            <div class="info-box">
              <span class="info-box-icon bg-info">A-</span>
      
              <div class="info-box-content">
                <span class="info-box-text">Donor</span>
                <span class="info-box-number count" id="A_negative">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </a>
         
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <a href="/users/availablebloodlist/B-" style="text-decoration: none;color: black">
            <div class="info-box">
              <span class="info-box-icon bg-success">B-</span>
      
              <div class="info-box-content">
                <span class="info-box-text">Donor</span>
                <span class="info-box-number count" id="B_negative">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </a>
          
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <a href="/users/availablebloodlist/O-" style="text-decoration: none;color: black">
            <div class="info-box">
              <span class="info-box-icon bg-warning">O-</span>
      
              <div class="info-box-content">
                <span class="info-box-text">Donor</span>
                <span class="info-box-number count" id="O_negative">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </a>
          
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <a href="/users/availablebloodlist/AB-" style="text-decoration: none;color: black">
            <div class="info-box">
              <span class="info-box-icon bg-danger" id="AB_negative">AB-</span>
      
              <div class="info-box-content">
                <span class="info-box-text">Donor</span>
                <span class="info-box-number count">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </a>
          
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    
   
          </div>
      </section>
                <!-- ============================================================== -->
                <!-- RECENT SALES -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3">
                                <h3 class="box-title mb-0">Recent Request</h3>
                                <div class="col-md-3 col-sm-4 col-xs-6 ml-auto">
                                    <select class="form-control row border-top">
                                        <option>March 2021</option>
                                        <option>April 2017</option>
                                        <option>May 2017</option>
                                        <option>June 2017</option>
                                        <option>July 2017</option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table no-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">NAME</th>
                                            <th class="border-top-0">District</th>
                                            <th class="border-top-0">Date</th>
                                            <th class="border-top-0">Payment Status</th>
                                            <th class="border-top-0">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                      {{#each allData}}
                                      {{!-- single-user --}}
                                        <tr>
                                            <td>{{counter @index}}</td>
                                            <td class="txt-oflo">{{this.lastname}}</td>
                                            <td>{{this.district}}</td>
                                            <td class="txt-oflo">{{this.createdat}}</td>
                                            <td><span class=" text-light bg-primary p-1">Processing</span></td>
                                            <td><div class="action-wrap">
                                                <ul class="d-flex">
                                                 <li><a class="btn btn-cyan mx-1" href="/users/singleuserview/{{this.id}}">View</a></li>
                                                 <li><a class="btn btn-success mx-1" href="">Proceed</a></li>
                                                 {{block userData.[0].adminrole this.id}}
                                                 {{!-- <li><a class="btn btn-danger mx-1" href="/users/deleteuser/{{this.id}}" data-bs-toggle="modal" data-bs-target="#deletemodal">Delete</a></li> --}}
                                                </ul>
                                            </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>

            <script>
                  //-------dynamic upazila -----------------------------------
                  const hiddendata = document.getElementById("bloodhidden").value;
                  const A_positive = document.getElementById("A_positive");
                  const B_positive = document.getElementById("B_positive");
                  const O_positive = document.getElementById("O_positive");
                  const AB_positive = document.getElementById("AB_positive");
                  const A_negative = document.getElementById("A_negative");
                  const B_negative = document.getElementById("B_negative");
                  const AB_negative = document.getElementById("AB_negative");
                  const O_negative = document.getElementById("O_negative");

                  const parsedata = JSON.parse(hiddendata);
                  //A+
                    let answer_one = (parsedata.filter(order => (order.bloodgroup === "A+")))
                    A_positive.innerText = answer_one.length;
                    //B+
                    let answer_two = (parsedata.filter(order => (order.bloodgroup === "B+")))
                    B_positive.innerText = answer_two .length;
                      //B+
                    let answer_three = (parsedata.filter(order => (order.bloodgroup === "O+")))
                    O_positive.innerText = answer_three.length;
                      //B+
                    let answer_four = (parsedata.filter(order => (order.bloodgroup === "AB+")))
                    AB_positive.innerText = answer_four.length;
                      //B+
                    let answer_five = (parsedata.filter(order => (order.bloodgroup === "A-")))
                    A_negative.innerText = answer_five.length;
                      //B+
                    let answer_six = (parsedata.filter(order => (order.bloodgroup === "B-")))
                    B_negative.innerText = answer_six.length;
                      //B+
                    let answer_seven = (parsedata.filter(order => (order.bloodgroup === "AB-")))
                    AB_positive.innerText = answer_seven.length;
                      //B+
                    let answer_eight = (parsedata.filter(order => (order.bloodgroup === "O-")))
                    O_negative.innerText = answer_eight.length;
            </script>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{>footer}}