{{>header}}

          
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{>nav}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
              {{!-- ID Card --}}
               <!-- Button trigger modal -->
                <!-- Modal -->
               <div class="modal fade"  id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" >
                  <div class="modal-content custom-content-card text-center ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">User ID Card</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                  
                      <div class="custom-card shadow"  id="idcardWrap">
                        {{!-- card-front --}}
                        <div class="card-front">
                              {{!-- front-header --}}
                            <div class="card-front-header d-flex justify-content-between">
                              <div class="logo-card">
                                <img style="width: 35px;" src="/images/logo.png" alt="logo">
                              </div>
                              <div class="qrcode-card">
                                <input type="hidden" id="qr_code_value_id" value={{userData.[0].id}}>
                                <input type="hidden" id="qr_code_value_name" value={{userData.[0].name}}>
                                <input type="hidden" id="qr_code_value_email" value={{userData.[0].email}}>
                                <input type="hidden" id="qr_code_value_phone" value={{userData.[0].phone}}>
                                <input type="hidden" id="qr_code_value_division" value={{userData.[0].division}}>
                                {{!-- qr_code display --}}
                                <div id="output_qr"></div>
                                
                                 {{!-- <img style="width: 50px;" src="/images/qr.png" alt="qr"> --}}
                              </div>
                            </div>
                          
                            {{!-- front-image-card --}}
                            <div class="front-image-card w-50">
                              <div class="img-shape">
                                <img src="data:image/png;base64,{{userData.[0].userphoto}}" style="width: 120px;" alt="proimg">
                              </div>
                            </div>
                            <div class="name_title">
                              <h4>{{userData.[0].firstname}}  {{userData.[0].lastname}}</h4>
                              <h5>{{designation userData.[0].committee_designation}}</h5>
                              <span class="d-block">Central committee (LAB)</span>
                              <small>Valid Till 24-07-2023</small>
                              
                            </div>
                            <div class="info-card text-left mt-2">
                            <h4><strong>ID: <span>00000{{userData.[0].id}}</span></strong></h4>
                            <small>Blood Group: <span>{{userData.[0].bloodgroup}}</span></small>
                            <p>Mob: <span>+88{{userData.[0].mobile}}</span></p>
                            </div>
                            <div class="id-card-footer">
                              <div class="auth d-flex justify-content-between">
                                <div class="auth-president">
                                  <span>President</span>
                                  <img id="secsig" class="d-block" style="width: 40px; height:10px" src="data:image/png;base64,{{userData.[0].president}}" alt="">
                                </div>
                               
                                <h6>Authorised By:</h6>
                                <div class="auth-secretary">
                                  <span>Secretary</span>
                                  <img class="d-block" id="presig"  style="width: 25px; height:10px" src="data:image/png;base64,{{userData.[0].secretary}}" alt="">
                                </div>
                              </div>
                            </div>
                        </div>
                         <script>
                                     const presig =  document.getElementById('presig');
                                     const secsig =  document.getElementById('secsig');
                                     const img = presig.getAttribute("src");
                                     const imgsc = secsig.getAttribute("src");
                                     const imgdata = img.replace(/['"]+/g, '')
                                     const imgdatasec = imgsc.replace(/['"]+/g, '')
                                     presig.setAttribute("src",`${imgdata}`)
                                     secsig.setAttribute("src",`${imgdatasec}`)
                                    
                                </script>
                         <div class="html2pdf__page-break"></div>
                        {{!-- card-Back --}}
                        <div class="card-front back mt-1  text-center position-relative" > 
                         <div class="logo-card-back mb-1 ">
                              <img style="width: 70px;" src="/images/logo.png" alt="logo">
                         </div>
                         <div class="heading-back text-uppercase mt-3">
                            <h4 style="font-size: 8px; color:black; line-height:0%" class="font-weight-bold">Law association of bangladesh</h4>
                            <span style="font-size: 6px; letter-spacing:1px;color:rgb(31, 31, 31);font-wight:500px; margin-top:-2px;display:block">Fight for right i fight for justice</span>
                          </div>
                          <div class="contact-info-card">
                            <ul>
                              <li><i class="fa fa-mobile mr-1" aria-hidden="true"></i> +88{{userData.[0].mobile}}</li>
                              <li><i class="fa fa-map-marker mr-1" aria-hidden="true"></i>{{userData.[0].upazila}},{{userData.[0].district}},Bangladesh</li>
                              <li><i class="fa fa-envelope mr-1" aria-hidden="true"></i> {{userData.[0].email}}</li>
                            </ul>
                      
                          
                          </div>
                          <div class="id-card-footer back">
                            www.labbd.org
                            </div>
                        </div>
                      
                  </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="pdfGenarator()" class="btn btn-primary">Download</button>
                    </div>
                 </div>
                </div>
               </div>
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14">Dashboard</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ml-auto">
                                <li><a href="#">Dashboard</a></li>
                            </ol>
                            <a href="/" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">View Your Site</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                


      <section class="content">
        <div class="container-fluid">
            <div class="row">
              {{#each peopleData}}
              {{!-- single user -wrappper --}}
              <div class="col-md-3 col-lg-3 col-12 col-sm-6">
                <div class="card shadow">
                  <div class="card-header">
                     <strong>{{this.firstname }}</strong>
                  </div>
                  <div class="card-body">
                     <div class="pro-img-user w-100 text-center">
                       <img style="border-radius: 50%; width:80px;height:80px" class="img-fluid mx-auto" src="data:image/png;base64,{{this.userphoto}}" alt="img">
                     </div>
                     <table class="mt-3 d-flex flex-column flex-wrap">
                       <tr><th>District:</th><td>{{this.district}}</td></tr>
                       <tr><th>Upazila:</th><td>{{this.upazila}}</td></tr>
                       <tr><th>From:</th><td>{{this.createdate}}</td></tr>
                     </table>
                  </div>
                  <div class="card-footer text-right">
                     <a href="/users/singledonorview/{{this.id}}" class="btn btn-sm btn-primary ">Details</a>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
        
      <!-- /.row -->
     </div>
     </section>
    <!-- ============================================================== -->
    <!-- RECENT SALES -->
    <!-- ============================================================== -->
    
    
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
{{>footer}}