<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Taijul - Personal Portfolio Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Node js developer, react js developer, html developer, mysql developer ,mongodb developer  "/>
        <meta name="keywords" content="css3,bootstrap 4,nodejs, mysql, jquery,javascripts, mongodb, react"/>
        <meta content="Taijul" name="author"/>
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.ico">
        <!-- Bootstrap -->
        <link href="/css/portfolio/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!-- MK Lightbox -->
        <link href="/css/portfolio/mklb.css" rel="stylesheet" type="text/css"/>
       <!-- icon -->
        <link href="/css/portfolio/materialdesignicons.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.2.89/css/materialdesignicons.min.css" integrity="sha512-Tem/uYI6RjLCVQtHePMIFtgHxXjfQVUaiSuhFYBG7RSrBD4NqXsNObfHAmDn6hCV+ickebggCTdnAnZbfF9FHQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Slider -->               
        <link href="/css/portfolio/tiny-slider.css" rel="stylesheet"/>
        <!-- Main css File -->
        <link href="/css/portfolio/style.css" rel="stylesheet" type="text/css" id="theme-opt"/>
        <link href="/css/portfolio/colors/default.css" rel="stylesheet" id="color-opt"/>
        
    </head>
     
    <body data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="20">
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <!-- Loader -->

        <!-- Navbar Start -->
        <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light sticky">
            <div class="container">
                <!-- Logo container-->
                <a class="logo" href="javascript:void(0)">Taijul</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" 
                aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button><!--end button-->

                <div class="collapse navbar-collapse navigation" id="navbarCollapse">
                    <ul id="navbar-navlist" class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#services">Services</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#resume">Resume</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#projects">Projects</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#news">Blog</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li><!--end nav item-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Others
                            </a>
                            <div class="dropdown-menu rounded m-0" aria-labelledby="navbarDropdown">
                                <div class="container ms-0 ms-md-0">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="dropdown-item" href="/blog">Blog</a>
                                            <a class="dropdown-item" href="/portfolio">Portfolio</a>
                                            <a class="dropdown-item" href="/contact">Contact</a>
                                            <a class="dropdown-item" href="/services">Service</a>
                                          
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </div><!--end container-->
                            </div>
                        </li><!--end nav item-->
                    </ul>

                    <ul class="top-right text-end list-unstyled list-inline mb-0 mt-2 mt-sm-0 nav-social">
                        <li class="list-inline-item me-2"><a ><i class="mdi mdi-facebook "></i></a></li>
                        <li class="list-inline-item me-2"><a ><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a ><i class="mdi mdi-instagram"></i></a></li>
                    </ul>
                    
                </div> 
            </div><!--end container-->
        </nav><!--end navbar-->
        <!-- Navbar End -->
      
        <!-- Hero Area -->
        <div class="hero-area position-relative bg-half-120 pb-0" style="background-image:url('images/home-shape.png')" id="home">
            <!--<div class="bg-overlay"></div>-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 align-items-center">
                        <div class="title-heading mt-4 py--50">
                            <div class="alert alert-transparent alert-pills shadow" role="alert">
                                <span class="badge badge-pill badge-primary me-1">Hot</span>
                                <span class="content">Looking for a Developer !</span>
                            </div>
                            <h1 class="heading text-black">Here I'am Taijul Islam</h1>
                            <p class="pera-title text-light-muted">Obviously I'm a Web Designer. Web Developer with over 3 years of experience. Experienced with all stages of the development</p>
                            <div class="hero-btn mt-4 pt-2">
                                <a href="javascript:void(0)" class="btn btn-primary rounded me-2 mb-2">Hire Me</a>
                                <a href="javascript:void(0)" class="btn btn-outline-primary rounded text-white mb-2">Download CV <i data-feather="download" class="fea icon-sm"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="home-image">
                            {{!-- <img src="/images/home.png" alt="" class="img-fluid mx-auto position-relative"> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card public-profile border-0 rounded shadow" style="z-index: 1;">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 col-md-4 text-md-start">
                                        <div class="about-details key-feature bg-light">
                                            <div class="media-body content">
                                                <h6 class="title mb-2">Personal Details</h6>
                                                <div class="bor-bottom mt-2 mb-2"></div>
                                                <p class="text-muted mb-2 mt-3 font-14"><a href="javascript:void(0)" class="text-black">Email: </a> taijul.islam169@gmail.com</p>
                                                <p class="text-muted mb-2 font-14"><a href="javascript:void(0)" class="text-black">Languages: </a> English,Bangla</p>
                                                <p class="text-muted mb-0 font-14"><a href="javascript:void(0)" class="text-black">Nationality: </a> Bangladeshi</p>  
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-9 col-md-8">
                                        <div class="row align-items-end">
                                            <div class="col-md-12 text-md-start mt-4 mt-sm-0">
                                                <h4 class="heading me-2">I Am <span class="element text-primary" data-elements="Web Designer, Web Developer, Photographer"></span>
                                                    <span id="typed" class="text-primary"></span>
                                                </h4>
                                                <p class="text-light-muted mt-2">Obviously I'm a Web Designer. Web Developer with over 2 years of experience. 
                                                    Experienced with all stages of the development cycle for dynamic web projects. 
                                                    The as opposed to using 'Content here, content here', making it look like readable English.</p>
                                                <img class="d-none" src="/images/signature.png" height="35" alt="">
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section>
        <!--end section -->

        <!-- Service Start -->
        <section class="section bg-light" id="services">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="container-title text-center mb-4 pb-2">
                            <div class="titles">
                                <h2 class="title text-capitalize mb-4">Awesome Service</h2>
                                <p class="pera-title para-desc-600 text-light-muted mb-0 mx-auto">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                                <span></span>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    {{#each serviceData}}
                    {{!-- single sevice --}}
                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="feature-widget text-left rounded">
                            <div class="services-icon text-primary mb-3">
                                 {{!-- <img style="width: 55px;" src="data:image/png;base64,{{this.icon}}" alt=""> --}}
                                 <i data-feather="monitor" class="fea icon-md"></i>
                            </div>
                            <div class="services-texts">
                                <h3 class="title mb-3">{{this.title}}</h3>
                                <p class="text-light-muted mb-4">From Scratch to Deployment all the procudures will be done from ourside.</p>
                                <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                   {{/each}}
                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="feature-widget text-left rounded">
                            <div class="services-icon text-primary mb-3">
                                <i data-feather="feather" class="fea icon-md"></i>
                            </div>
                            <div class="services-texts">
                                <h3 class="title mb-3">Design & Planning</h3>
                                <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without coding.</p>
                                <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="feature-widget text-left rounded">
                            <div class="services-icon text-primary mb-3">
                                <i data-feather="disc" class="fea icon-md"></i>
                            </div>
                            <div class="services-texts">
                                <h3 class="title mb-3">Adobe Photoshop</h3>
                                <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without coding.</p>
                                <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="feature-widget text-left rounded">
                            <div class="services-icon text-primary mb-3">
                                <i data-feather="layout" class="fea icon-md"></i>
                            </div>
                            <div class="services-texts">
                                <h3 class="title mb-3">Digital marketing</h3>
                                <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without coding.</p>
                                <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="feature-widget text-left rounded">
                            <div class="services-icon text-primary mb-3">
                                <i data-feather="watch" class="fea icon-md"></i>
                            </div>
                            <div class="services-texts">
                                <h3 class="title mb-3">24 / 7</h3>
                                <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without coding.</p>
                                <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="feature-widget text-left rounded">
                            <div class="services-icon text-primary mb-3">
                                <i data-feather="target" class="fea icon-md"></i>
                            </div>
                            <div class="services-texts">
                                <h3 class="title mb-3">Graphic Designer</h3>
                                <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without coding.</p>
                                <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div>
        </section>
        <!-- End Start -->


        <!-- Start Section -->
        <section class="section" id="resume">
            <div class="container">

                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-4">
                        <div class="work-content mt-4">
                            <h2 class="text-capitalize">Work  Participation</h2>
                            <p class="mb-0 text-light-muted">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                            <a href="javascript:void(0)" class="btn btn btn-primary rounded mt-4 pt-2">See More <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="row">
                            <div class="main-timeline">
                                {{#each workperticipateData}}
                                {{!-- single work perticipate --}}
                                <div class="timeline mt-4">
                                    <a href="javascript:void(0)" class="timeline-content">
                                        <div class="timeline-icon text-primary">
                                            <i data-feather="navigation" class="fea icon-md"></i>
                                        </div>
                                        <h3 class="title mb-0">{{this.title}}</h3>
                                        <small class="company">{{this.sub_title}}</small>
                                        <span class="badge skill-badge education-badge badge-light">{{this.start_date}} - {{this.end_date}}</span>
                                        <p class="description text-light-muted mt-2">
                                            {{this.details}}
                                        </p>
                                    </a>
                                </div>
                               {{/each}} 
                                <div class="timeline mt-4">
                                    <a href="javascript:void(0)" class="timeline-content">
                                        <div class="timeline-icon text-primary">
                                            <i data-feather="navigation" class="fea icon-md"></i>
                                        </div>
                                        <h3 class="title mb-0">Web Developer</h3>
                                        <small class="company">Oppo - HR Manager</small>
                                        <span class="badge skill-badge education-badge margin-50 badge-light">2012 - 2015</span>
                                        <p class="description text-light-muted mt-2">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum
                                        </p>
                                    </a>
                                </div>
                                <div class="timeline mt-4">
                                    <a href="javascript:void(0)" class="timeline-content">
                                        <div class="timeline-icon text-primary">
                                            <i data-feather="package" class="fea icon-md"></i>
                                        </div>
                                        <h3 class="title mb-0">Graphic Designer</h3>
                                        <small class="company">Apple - Testor</small>
                                        <span class="badge skill-badge education-badge badge-light">2012 - 2010</span>
                                        <p class="description text-light-muted mt-2">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end container -->
        </section><!-- end section -->


        <!-- Client Start -->
        <section class="section fan-fact" style="background-image:url('/images/bg-pattern.png')" id="about">
            <div class="container">
                <div class="row" id="counter">
                    <div class="col-lg-3 col-6 my-3">
                        <div class="card counter-box border-0 shadow text-center rounded py-3">
                            <div class="card-body py-5">
                                <h2 class="mb-0"><span class="counter-value" data-target="97">97</span>%</h2>
                                <h5 class="counter-head mb-0">Happy Client </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6 my-3">
                        <div class="card counter-box border-0 shadow text-center rounded py-3">
                            <div class="card-body py-5">
                                <h2 class="mb-0"><span class="counter-value" data-target="15">1</span> M </h2>
                                <h5 class="counter-head mb-0">Download </h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-6 my-3">
                        <div class="card counter-box border-0 shadow text-center rounded py-3">
                            <div class="card-body py-5">
                                <h2 class="mb-0"><span class="counter-value" data-target="3261">30</span> + </h2>
                                <h5 class="counter-head mb-0">Happy Users </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6 my-3">
                        <div class="card counter-box border-0 shadow text-center rounded py-3">
                            <div class="card-body py-5">
                                <h2 class="mb-0"><span class="counter-value" data-target="36">3</span> + </h2>
                                <h5 class="counter-head mb-0">Years of expe. </h5>
                            </div>
                        </div>
                    </div>
                </div><!--end row-->
            </div><!--end container-->
        </section>
        <!-- End Section Client -->


        <!-- Skill & CTA START -->
        <section class="cta-full">
            <div class="container">
                <div class="row position-relative">
                    <div class="col-lg-4 padding-less img" style="background-image:url('images/skills.jpg')" data-jarallax='{"speed": 0.5}'></div><!-- end col -->
                    <div class="col-lg-8 offset-lg-5">
                        <div class="cta-full-img-box">
                            <div class="row justify-content-center">
                                <div class="col-12 text-center mb-3">
                                    <div class="container-title">
                                        <div class="titles">
                                            <h4 class="title title-line text-capitalize mb-4">Work Expertise</h4>
                                        </div>
                                        <p class="text-light-muted mx-auto width-max mb-0">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->

                            <div class="row align-items-center">
                                <div class="col-lg-3 col-6 mt-4 pt-2">
                                    <div class="card explore-feature border-0 text-center bg-white p-3">
                                        <div class="card-body p-0">
                                            <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                                <img src="images/skills/download.png" alt="" class="img-fluid mx-auto">
                                            </div>
                                            <span class="badge skill-badge badge-light">95%</span>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                 <div class="col-lg-3 col-6 mt-4 pt-2">
                                    <div class="card explore-feature border-0 text-center bg-white p-3">
                                        <div class="card-body p-0">
                                            <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                                <img src="images/skills/css.png" alt="" class="img-fluid mx-auto">
                                            </div>
                                            <span class="badge skill-badge badge-light">90%</span>
                                        </div>
                                    </div>
                                </div><!--end col-->  
                                <div class="col-lg-3 col-6 mt-4 pt-2">
                                    <div class="card explore-feature border-0 text-center bg-white p-3">
                                        <div class="card-body p-0">
                                            <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                                <img src="images/skills/bootstrap.svg" alt="" class="img-fluid mx-auto">
                                            </div>
                                            <span class="badge skill-badge badge-light">90%</span>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-3 col-6 mt-4 pt-2">
                                    <div class="card explore-feature border-0 text-center bg-white p-3">
                                        <div class="card-body p-0">
                                            <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                                <img src="images/skills/nodejs-icon.svg" alt="" class="img-fluid mx-auto">
                                            </div>
                                            <span class="badge skill-badge badge-light">80%</span>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!-- end row -->

                            <div class="row align-items-center">
                                
                                <div class="col-lg-3 col-6 mt-4 pt-2">
                                    <div class="card explore-feature border-0 text-center bg-white p-3">
                                        <div class="card-body p-0">
                                            <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                                <img src="images/skills/react.svg" alt="" class="img-fluid mx-auto">
                                            </div>
                                            <span class="badge skill-badge badge-light">60%</span>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-3 col-6 mt-4 pt-2">
                                    <div class="card explore-feature border-0 text-center bg-white p-3">
                                        <div class="card-body p-0">
                                            <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                                <img src="images/skills/mysql.png" alt="" class="img-fluid mx-auto">
                                            </div>
                                            <span class="badge skill-badge badge-light">70%</span>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-3 col-6 mt-4 pt-2">
                                    <div class="card explore-feature border-0 text-center bg-white p-3">
                                        <div class="card-body p-0">
                                            <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                                <img src="images/skills/android.svg" alt="" class="img-fluid mx-auto">
                                            </div>
                                            <span class="badge skill-badge badge-light">20%</span>
                                        </div>
                                    </div>
                                </div><!--end col-->

                             

                                <div class="col-lg-3 col-6 mt-4 pt-2">
                                    <div class="card explore-feature border-0 text-center bg-white p-3">
                                        <div class="card-body p-0">
                                            <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                                <img src="images/skills/mongodb.svg" alt="" class="img-fluid mx-auto">
                                            </div>
                                            <span class="badge skill-badge badge-light">70%</span>
                                        </div>
                                    </div>
                                </div><!--end col-->    
                            </div><!-- end row -->

                        </div> <!-- end about detail -->
                    </div> <!-- end col -->        
                </div><!--end row-->
            </div><!--end container fluid-->
        </section><!--end section-->   
        <!-- Skill & CTA End -->


        <!-- Projects/Work Start -->
        <section class="section bg-light" id="projects">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="container-title text-center mb-4 pb-2">
                            <div class="titles">
                                <h2 class="title text-capitalize mb-4">My Work & Portfolio</h2>
                                <p class="pera-title para-desc-600 text-light-muted mb-0 mx-auto">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                                <span></span>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->


                <div class="row">
                    {{#each workData}}
                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="card border-0 work-container work-modern position-relative d-block overflow-hidden rounded">
                            <div class="card-body p-0">
                                <img src="data:image/png;base64,{{this.photo}}" class="img-fluid" alt="work-image">
                                <div class="overlay-work bg-dark"></div>
                                <div class="content">
                                    <h5 class="mb-0"><a href="page-portfolio-detail.html" class="text-white title">{{this.title}}</a></h5>
                                    <h6 class="text-light tag mb-0">{{this.sub_heading}}</h6>
                                </div>
                                <div class="icons text-center">
                                    <a href="/portfolio/single-protfolio/{{this.id}}" data-src="images/portfolio/1.jpg"  data-gallery="myGal" class="text-primary work-icon bg-white d-inline-block rounded-pill mfp-image">
                                        <i data-feather="camera" class="fea icon-sm"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    {{/each}}
                      
                    <div class="col-12 mt-4 pt-2">
                        <div class="text-center">
                            <a href="/portfolio" class="btn btn btn-primary rounded">See More <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
            <!-- End container -->
        </section>
        <!-- Projects End -->

        <!-- Testimonial Start -->
        <section class="section bg-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="container-title text-center mb-4 pb-2">
                            <div class="titles">
                                <h2 class="title text-capitalize mb-4">Clients Say</h2>
                                <p class="pera-title para-desc-600 text-light-muted mb-0 mx-auto">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                                <span></span>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-12">
                        <div class="client-review-slider">
                            {{#each testimonialData}}
                            {{!-- single-slide --}}
                            <div class="tiny-slide">
                                <div class="client-review rounded shadow m-2">
                                    <div class="align-items-center justify-content-start justify-content-sm-center">
                                        <div class="col-sm-auto mb-4 mb-sm-0">
                                            <img class="img-fluid avatar avatar-xl" src="data:image/png;base64,{{this.photo}}" alt="">
                                        </div>
                                        <div class="col pl-lg-4 clt-section">
                                            <h5 class="clt-title mt-2 mb-2">{{this.title}}</h5>
                                            <ul class="list-unstyled float-right mb-0">
                                                <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                                <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                                <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                                <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                                <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                            </ul>
                                        </div>
                                        <p class="pera-title text-light-muted mb-0 mt-2">{{this.details}}</p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                           
                        </div>
                    </div>
                </div>
            </div>
            <!--end container -->
        </section>
        <!--end section -->

        <!-- Blog Start -->
        <section class="section bg-light" id="news">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="container-title text-center mb-4 pb-2">
                            <div class="titles">
                                <h2 class="title text-capitalize mb-4">Latest news & blog</h2>
                                <p class="pera-title para-desc-600 text-light-muted mb-0 mx-auto">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                                <span></span>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
                
                <div class="row"> 
                    {{#each blogData}}
                    {{!-- single blog    --}}
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-post rounded customer-testi m-1">
                            <div class="position-relative">
                                <img src="data:image/png;base64,{{this.file}}" class="img-fluid rounded-top" alt="">
                            </div>
                            <div class="content pt-4 pb-4 p-3">
                                <h5><a href="/blog/single-blogdetail/{{this.id}}" class="title text-dark">{{this.title}}</a></h5>
                                <p class="text-light-muted mb-3">{{ blogShort this.details}}</p>
                                <div class="post-meta d-flex justify-content-between mt-3">
                                    <ul class="list-unstyled mb-0 d-flex justify-content-between">
                                        <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-light-muted date"><i class="mdi mdi-calendar-edit me-1"></i>{{this.created_at}}</a></li>
                                    </ul>
                                    <a href="/blog/single-blogdetail/{{this.id}}" class="text-muted readmore">Read More <i class="mdi mdi-chevron-right"></i></a>
                                </div>
                            </div><!--end content-->
                        </div><!--end blog post-->
                    </div>
                   {{/each}}
                                       
                </div><!--end row-->
            </div><!--end container-->
        </section>
        <!--end section -->


        <!-- Contact Start -->
        <section class="section pb-0" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="container-title text-center mb-4 pb-2">
                            <div class="titles">
                                <h2 class="title text-capitalize mb-4">Contact Me</h2>
                                <p class="pera-title para-desc-600 text-light-muted mb-0 mx-auto">Obviously I'm a Web Developer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                                <span></span>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-md-4 mt-4 pt-2">
                        <div class="contact-detail text-center">
                            <div class="icon">
                                <i data-feather="phone" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title">Phone</h5>
                                <p class="text-light-muted">Promising development turmoil inclusive education transformative community</p>
                                <a href="tel:+8801772488816" class="text-primary">+8801772488816</a>
                            </div>  
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-md-4 mt-4 pt-2">
                        <div class="contact-detail text-center">
                            <div class="icon">
                                <i data-feather="mail" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title">Email</h5>
                                <p class="text-light-muted">Promising development turmoil inclusive education transformative community</p>
                                <a href="mailto:taijul.islam169@gmail.com" class="text-primary">taijul.islam169@gmail.com</a>
                            </div>  
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-md-4 mt-4 pt-2">
                        <div class="contact-detail text-center">
                            <div class="icon">
                                <i data-feather="map-pin" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title">Location</h5>
                                <p class="text-light-muted">92/C Indira Road, 1207, <br>Dahaka, Bangladesh</p>
                                <a href="https://www.google.com/maps?q=indira+road&um=1&ie=UTF-8&sa=X&sqi=2&ved=2ahUKEwij1KSNvOfzAhV5p5UCHfwMAmwQ_AUoAXoECAEQAw" class="map-popup-view text-primary">View on Google map</a>
                            </div>  
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <section class="section pt-5">
            <div class="container">
                <div class="row  justify-content-center">
                    <div class="col-lg-12">
                        <div class="custom-form mb-sm-30">
                            <div style="display: none;" id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>Your Message has been sent.</strong> 
                                
                            </div>
                           
                            <form method="post" action="/contact" name="myForm" >
                                <p id="error-msg"></p>
                                <div id="simple-msg"></div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-6">
                                                <div class="form-group">
                                                    <input name="firstname" required id="name" type="text" class="form-control border rounded" placeholder="First Name :">
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-lg-12 col-md-6">
                                                <div class="form-group">
                                                    <input name="email" required id="email" type="email" class="form-control border rounded" placeholder="Your email :">
                                                </div> 
                                            </div><!--end col-->
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <input name="subject" required  id="subject" class="form-control border rounded" placeholder="Your subject :">
                                                </div>                                                                               
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end col-->

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <textarea name="details" required id="comments" rows="4" class="form-control border rounded" placeholder="Your Message :"></textarea>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                                <div class="row">
                                    <div class="col-sm-12 text-end">
                                        <input onclick="contactValidation()" type="submit" id="submit" name="send" class="submitBnt btn btn btn-primary rounded" value="Send Message"> 
                                    </div><!--end col-->
                                </div><!--end row-->
                            </form>
                           
                            <script>

                                const name =  document.getElementById('name');
                                const email =  document.getElementById('email');
                                const subject =  document.getElementById('subject');
                                const comments =  document.getElementById('comments');
                                const submit =  document.getElementById('submit');
                                function contactValidation (e){
                                 
                                     if(name.value != '' && email.value != '' && subject.value != '' && comments.value != '' && subject.value != ''){
                                        document.getElementById('loader-wrapper').style.display ='block';
                                       setTimeout(function(){
                                            document.getElementById('loader-wrapper').style.display ='none';
                                            document.getElementById('alert').style.display ='block';
                                            window.stop();
                                             },3000);
                                                         
                                        }  
                                        
                                    }
                                   
                            </script>
                            <!--end form-->
                        </div><!--end custom-form-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Contact End -->
       
      
        <!-- Footer Start -->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <a href="javascript:void(0)" class="footer-logo text-black">Taijul</a>
                        <p class="para-desc mx-auto mt-5 text-black">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                        <ul class="list-unstyled mb-0 mt-4 social-icon">
                            <li class="list-inline-item me-1"><a href="https://www.facebook.com/profile.php?id=100009451348487" class="rounded-circle"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item me-1"><a href="jhttps://www.facebook.com/profile.php?id=100009451348487" class="rounded-circle"><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item me-1"><a href="javascript:void(0)" class="rounded-circle"><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item me-1"><a href="https://www.instagram.com/taijul169/" class="rounded-circle"><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item me-1"><a href="https://github.com/taijul169" class="rounded-circle"><i class="mdi mdi-google-plus"></i></a></li>
                            <li class="list-inline-item me-1"><a href="https://www.linkedin.com/in/taijul-islam-8b1a72119/" class="rounded-circle"><i class="mdi mdi-linkedin"></i></a></li>
                        </ul>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->
        <footer class="footer footer-bar bg-black">
            <div class="container text-foot text-center">
                <p class="mb-0 text-white-50"> <script>document.write(new Date().getFullYear())</script> Taijul. Developed by <a href="javascript:void(0)" class="text-white-50">Taijul Islam</a></p>
            </div><!--end container-->
        </footer><!--end footer-->
        <!-- Footer End -->

        <a href="javascript: void(0);" class="back-to-top btn btn-icon btn-soft-primary" id="back-to-top" onclick="topFunction()">
            <i data-feather="arrow-up" class="icons"></i>
        </a>
        <!-- Back to top -->

        <!-- Style Switcher -->
        <div  id="style-switcher" class="bg-light border p-3 pt-2 pb-2 d-none" onclick="toggleSwitcher()">
            <div>
                <h6 class="color-scheme-title text-center font-weight-bolder mb-2">Select your color</h6>
                <ul class="pattern text-center mb-0">
                    <li class="list-inline-item">
                        <a class="default" href="javascript: void(0);" onclick="setColor('default')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="blue" href="javascript: void(0);" onclick="setColor('red')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="green" href="javascript: void(0);" onclick="setColor('green')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="mosaic-blue" href="javascript: void(0);" onclick="setColor('mosaic-blue')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="light-yellow" href="javascript: void(0);" onclick="setColor('light-yellow')"></a>
                    </li>  
                    <li class="list-inline-item">
                        <a class="purple" href="javascript: void(0);" onclick="setColor('purple')"></a>
                    </li>            
                </ul>
                <div class="bottom">
                    <a href="javascript: void(0);" class="settings bg-white shadow d-block"><i class="mdi mdi-settings mdi-24px position-absolute mdi-spin text-primary"></i></a>
                </div>
            </div>
        </div>
           <div class="loader-wrapper" id="loader-wrapper">
            <img src="/images/loader.gif" alt="">
          </div>
         
        <!-- End Style Switcher -->

        <!-- Javascript -->
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="/js/portfolio/bootstrap.bundle.min.js"></script>
        <!-- Slider -->
        <script src="/js/portfolio/tiny-slider.js "></script>
        <script src="/js/portfolio/tiny-slider-init.js "></script>
        <!-- MK Lightbox -->
        <script src="/js/portfolio/mklb.js"></script>
        <!-- Contact -->
        <script src="/js/portfolio/contact.js"></script>
        <!-- Counter init -->
        <script src="/js/portfolio/counter.init.js"></script>
        <!-- Feather icon -->
        <script src="/js/portfolio/feather.min.js"></script>
        <!-- Typed -->
        <script src="/js/portfolio/typed.js"></script>
        <script src="/js/portfolio/typed.init.js"></script>
        <!-- Switcher -->
        <script src="/js/portfolio/switcher.js"></script>
        <!-- Main Js -->
        <script src="/js/portfolio/app.js"></script>
    </body>
</html>