<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <!-- Castro fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
     <!-- owl-carousel -->
    <link rel="stylesheet" href="assets/plugin/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="assets/plugin/css/owl.theme.default.min.css" />
    <!-- animate-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- nivo-slider -->
    <link rel="stylesheet" href="assets/plugin/css/default.css">
    <link rel="stylesheet" href="assets/plugin/css/nivo-slider.css">
     <!-- font-awesome    -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <!-- lightbox-gallery -->
     <link rel="stylesheet" href="assets/plugin/css/simple-lightbox.min.css">
     <!-- flat-icon -->
     <link rel="stylesheet" href="assets/font/flaticon.css">
    <!-- progressbar -->
    <link rel="stylesheet" href="assets/plugin/css/jquery.rprogessbar.min.css">
     <!-- main-style -->
     {{!-- carousel --}}
     <link rel="stylesheet" href="plugins/css/owl.carousel.min.css">
     <link rel="stylesheet" href="plugins/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <!-- <link rel="stylesheet" href="responsive.css"> -->
    <title>Laundry Express</title>
</head>
<body>
  
{{!-- modal-wrapper-end --}}
    <div class="home-wrapper">
      <div class="containe">
           <div class="home-wrapper-inner bg-white">
        <header>
            <div>
                {{!-- header-top --}}
                <div class="header-top" style="padding: 8px 16px;">
                <div class="container-fluid" style="width: 90%;">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-6 col-sm-6 col-xl-6">
                            <div class="header-top-left">
                                <a href="#"><i class="far fa-comment-alt mr-1"></i>Feedback</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-4 col-sm-4 col-xl-4 offset-md-2 offset-lg-2 offset-sm-2 offset-xl-2 d-flex align-items-end w-100 ">
                            <div class="header-top-right w-100 d-flex justify-content-between">
                                <a href="#" class="text-right"><i class="fas fa-comment-dollar"></i></i>Join with us</a>
                                <a href="#" class="text-right"><i class="far fa-question-circle"></i>Have any Question?</a>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                {{!-- main-menu --}}
               <div class="container-fluid position-relative"style="width: 90%;" >
                <div class="main-menu p-4">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-2">
                            <div class="header-bottom-right h-100">
                             <h4>LAB</h4>     
                        </div> 
                       </div>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-10">
                        <nav class="text-right ">
                            <div class="res-menu-box" id="menucontroler">
                                <i id="open" class="fa fa-bars active" aria-hidden="true"></i>
                                <i id="close" class="fa fa-times" aria-hidden="true"></i>
                            </div>
                          <ul class="main-menu-header" id="main-menu-header">
                            <li><a class="active" href="/">Home</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Notice</a></li>
                            <li><a href="#">Committee</a></li>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Videos</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="/signup">Signup</a></li>
                            <li><a href="/signin">Login</a></li>
                         </ul>
                        </nav>
                        <script>
                          const nav =   document.getElementById("main-menu-header");
                          const open =   document.getElementById("open");
                          const close =   document.getElementById("close");
                          const closecontroler =   document.getElementById("menucontroler");
                          menucontroler.addEventListener("click",()=>{
                              nav.classList.toggle("active");
                              open.classList.toggle("active");
                              close.classList.toggle("active");
                          })
                        </script>
                      </div>
                    </div>
                     
                </div>
               </div>
            </div>
        </header>
        <section>
          <div class="home-slider-area">
                <div class="">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12 col-12">
                            <div class="home-slider-wrapper heroSlide owl-carousel owl-theme">
                                <!-- single-slide -->
                                <div class="single-home-slide d-flex align-items-center" style="background: url(images/home-slider/slide01.jpg); ">
                                <div class="container">
                                    <div class="single-left text-left pb-5">
                                        <h2 class="animate__animated animate__fadeInDown">Commited to  <br> Excellence <br></h2>
                                        <a href="#" class="animate__animated animate__backInUp ">Join with us</a>
                                    </div>
                                  </div>
                                </div>
                                <!-- single-slide -->
                                <div class="single-home-slide d-flex align-items-center" style="background: url(images/home-slider/slide02.jpg);">
                                   <div class="container ">
                                         <div class="single-left text-left pb-5">
                                        <h2 class="animate__animated animate__fadeInDown">The New <br> Standard</h2>
                                        <a href="#" class="animate__animated animate__fadeInDown ">Join with us</a>
                                    </div>
                                    </div>
                                </div>
                                <!-- single-slide -->
                                <div class="single-home-slide d-flex align-items-center" style="background: url(images/home-slider/slide03.jpg);">
                                   <div class="container ">
                                 
                                     <div class="single-left text-left pb-5">
                                        <h2 class="animate__animated animate__fadeInDown">United We  Stand</h2>
                                        <h2 class="animate__animated animate__fadeInDown">Devided We  Fall</h2>
                                        <a href="#" class="animate__animated animate__fadeInDown ">Join with us</a>
                                    </div>
                                   </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
         </section>

         {{!-- threebox-section --}}
         <section>
             <div class="container-fluid" style="width: 90%;">
                 <div class="row">
                 <div class="col-md-4 col-lg-4 col-xl-4 col-12">
                     <div class="single-box-wrap d-flex justify-content-between align-items-center">
                         <div class="box-left">
                             <h4>our <strong>story</strong></h4>
                             <a href="#">about us</a>
                         </div>
                         <div class="box-right">
                            <img  class="img-fluid" src="images/threebox/story_bg.jpg" alt="storybg"> 
                         </div>
                     </div>
                 </div>
                  <div class="col-md-4 col-lg-4 col-xl-4 col-12">
                     <div class="single-box-wrap d-flex justify-content-between align-items-center">
                         <div class="box-left">
                             <h4>our <strong>goals</strong></h4>
                             <a href="#">Know more</a>
                         </div>
                         <div class="box-right">
                            <img class="img-fluid" src="images/threebox/goals_bg.jpg" alt="storybg"> 
                         </div>
                     </div>
                 </div>
                  <div class="col-md-4 col-lg-4 col-xl-4 col-12">
                     <div class="single-box-wrap d-flex justify-content-between align-items-center">
                         <div class="box-left">
                             <h4>our <strong>Activities</strong></h4>
                             <a href="#">Know more</a>
                         </div>
                         <div class="box-right">
                            <img class="img-fluid" src="images/threebox/activists_bg.jpg" alt="storybg"> 
                         </div>
                     </div>
                 </div>
                 </div>
             </div>
         </section>
         {{!-- featured area --}}
         <section class="section-padding">
           <div class="container">
               <div class="row">
                   <div class="col-md-4 col-lg-4 col-xl-4">
                       <h4 class="ftext gradient_bg_color">featured</h4>
                       <div class="featured-slider-wrapper" style="background-color: #E6E6E6;">
                           <div class="single-slide-featured p-3">
                               {{!-- single-evnent --}}
                               <div class="single-event-inner d-flex  align-items-center p-2 border-bottom">
                                   <div class="evnt-img">
                                       <img src="images/blog/01.jpg" alt="blog">
                                   </div>
                                   <a href="#">
                                       <h4>Member Collecting</h4>
                                       <span>Admin 12.12.2020</span>
                                   </a>
                               </div>
                                 {{!-- single-evnent --}}
                               <div class="single-event-inner d-flex  align-items-center p-2 border-bottom">
                                   <div class="evnt-img">
                                       <img src="images/blog/02.jpg" alt="blog">
                                   </div>
                                   <a href="#">
                                       <h4>Member Collecting</h4>
                                       <span>Admin 12.12.2020</span>
                                   </a>
                               </div>
                                 {{!-- single-evnent --}}
                               <div class="single-event-inner d-flex  align-items-center p-2">
                                   <div class="evnt-img">
                                       <img src="images/blog/03.jpg" alt="blog">
                                   </div>
                                   <a href="#">
                                       <h4>Member Collecting</h4>
                                       <span>Admin 12.12.2020</span>
                                   </a>
                               </div>
                          
                           </div>
                       </div>
                   </div>
                   {{!-- singleblog --}}
                   <div class="col-md-4 col-lg-4 col-xl-4">
                       <a href="#">
                            <div class="single-blog-bigthumb border">
                           <div class="bigthump-blog media-links">
                               <img class="img-fluid" src="images/blog/big1.jpg" alt="">
                           </div>
                           <div class="blog-content-bottom p-3">
                               <h3>How to become a premium member?</h3>
                           <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus omnis veniam quam dolorem fuga sit illo id maxime, molestiae, exercitationem tempora blanditiis labore in.</p>
                           <div class="blog-bottom border-top">
                               <ul class="d-flex justify-content-between p-3">
                                   <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Admin</a></li>
                                   <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12.12.2020</a></li>
                               </ul>
                           </div>
                        </div>
                       </div>
                       </a>  
                   </div>
                   {{!-- singleblog --}}
                   <div class="col-md-4 col-lg-4 col-xl-4">
                       <a href="#">
                            <div class="single-blog-bigthumb border">
                           <div class="bigthump-blog media-links">
                               <img class="img-fluid" src="images/blog/big2.jpg" alt="">
                           </div>
                           <div class="blog-content-bottom p-3">
                               <h3>How to become a premium member?</h3>
                           <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus omnis veniam quam dolorem fuga sit illo id maxime, molestiae, exercitationem tempora blanditiis labore in.</p>
                           <div class="blog-bottom border-top">
                               <ul class="d-flex justify-content-between p-3">
                                   <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Admin</a></li>
                                   <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12.12.2020</a></li>
                               </ul>
                           </div>
                        </div>
                       </div>
                       </a>  
                   </div>
               </div>
           </div>
         </section>
        <section style="padding-top: 40px;">
            <div class="container">
                   <div class="main-title2">
                    <h1>Our
                        <span class="text-color"> Activity</span>
                    </h1>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-6 col-xl-6 col-12">
                        <div class="row no-gutters">
                            <div class="col-md-6 ">
                                <a href="#">
                                    <div class="user-blog ">
                                    <img class="img-fluid" src="images/userblog/userblog1.jpg" alt="">
                                    <h4>Blood Donation camp</h4>
                                </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="#">
                                    <div class="user-blog ">
                                    <img class="img-fluid" src="images/userblog/userblog2.jpg" alt="">
                                    <h4>Blood Donation camp</h4>
                                </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="#">
                                    <div class="user-blog ">
                                    <img class="img-fluid" src="images/userblog/userblog3.jpg" alt="">
                                    <h4>Blood Donation camp</h4>
                                </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="#">
                                    <div class="user-blog ">
                                    <img class="img-fluid" src="images/userblog/userblog4.jpg" alt="">
                                    <h4>Blood Donation camp</h4>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-12 col-xl-6">
                        <div class="activity-wrapper">
                           <div class="activity-img" style="height: 350px;  overflow:hidden; border-radius:4px">
                                <img class="img-fluid" src="images/activity.jpg" alt="">
                           </div>
                           <div class="activity-content">
                               <ul class="d-flex justify-content-center">
                                   <li><span>Days</span><b>30</b></li>
                                   <li><span>Hrs</span><b>30</b></li>
                                   <li><span>Mins</span><b>30</b></li>
                               </ul>
                               
                               <div class="activity-content-bottom text-center">
                                 <a href="#" class="text-light"><h2>Our Next Activity</h2></a>
                                 <ul>
                                     <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Rabindra sorobor,dhanmondi-8,dhaka.</a></li>
                                     <li><i class="fa fa-calendar" aria-hidden="true"></i> 8.00 AM - 8.00 PM</li>
                                 </ul>
                               </div>
                           </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        {{!-- threeblog --}}
        <section style="padding:40px 0px; ">
            <div class="container">
                 <div class="main-title2">
                    <h1>Our
                        <span class="text-color">Blogs</span>
                    </h1>
                </div>
               <div class="row">
                   {{#each blogData}}
                    {{!-- singleblog --}}
                   <div class="col-md-4 col-lg-4 col-xl-4">
                       <a href="/singleblogview/{{this.id}}">
                            <div class="single-blog-bigthumb border">
                           <div class="bigthump-blog media-links">
                               <img class="img-fluid" src="data:image/png;base64,{{this.file}}" alt="blogimg">
                           </div>
                           <div class="blog-content-bottom p-3">
                               <h3>{{this.title}}</h3>
                           <p class="text-dark">{{blogShort this.details}}</p>
                           <div class="blog-bottom border-top">
                               <ul class="d-flex justify-content-between p-3">
                                   <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>{{this.created_by}}</a></li>
                                   <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> {{this.created_at}}</a></li>
                               </ul>
                           </div>
                        </div>
                       </div>
                       </a>  
                   </div>
                   {{/each}}
                  
             
               </div>
            </div>
        </section>
      {{!-- notice-section-start   --}}
       <section class="events" id="event" style="padding: 50px 0;">
        <div class="container">
              <div class="main-title2">
                    <h1>Our
                        <span class="text-color">Notices</span>
                    </h1>
                </div>
                
            <div class="row">
                {{#each noticeData}}
                    <div class="col-md-6">
                        <div class="event-card ">
                            <div class="b-all col-md-4 event-img-content">
                                {{!-- date-area --}}
                                {{noticeDate this.created_at}}
                                {{!-- <div class="col-md-12 notice-date-left">
                                    <h4>10<span>Sep</span></h4>
                                    <div class="notice_year pull-in">
                                        <h4>2020</h4>
                                    </div>
                                </div> --}}
                            </div>
                            <div class="event-description-content">
                                <h4 class="m-0 line-limit-1">{{this.title}}</h4>
                                <div class="m-t-10">
                                    <p>{{makeShortString this.details}}</p>
                                </div>
                                <a href="/singlenoticeview/{{this.id}}" class="btn custom-sm-btn">Learn More</a>
                            </div>

                        </div>
                </div>
                {{/each}}
           </div>
        

        </div>
      </section>
   
        
         {{!-- counter-area --}}
         <section>
           <div class="counter-area" style="padding: 40px 0px;">
               <div class="counter-bg-layer" style="background-image: url(images/icon/caption/wave2.png);"></div>
               <div class="container">
                   <div class="row">
                   {{!-- single-counter-box --}}
                   <div class="col-md-3 col-lg-3 col-xl-3 col-12 col-sm-12">
                       <div class="single-counter-box text-center">
                           <h1>2</h1>
                           <p>Executive Committee</p>
                           <div class="sinlge-counter-icon-box">
                               <img src="images/icon/icon4.png" alt="">
                           </div>
                       </div>
                   </div>
                   {{!-- single-counter-box --}}
                   <div class="col-md-3 col-lg-3 col-xl-3 col-12 col-sm-12">
                       <div class="single-counter-box text-center">
                           <h1>1</h1>
                           <p>Advisory Committee</p>
                           <div class="sinlge-counter-icon-box">
                               <img src="images/icon/icon5.png" alt="">
                           </div>
                       </div>
                   </div>
                   {{!-- single-counter-box --}}
                   <div class="col-md-3 col-lg-3 col-xl-3 col-12 col-sm-12">
                       <div class="single-counter-box text-center">
                           <h1>2</h1>
                           <p>Sub Committee</p>
                           <div class="sinlge-counter-icon-box">
                               <img src="images/icon/icon6.png" alt="">
                           </div>
                       </div>
                   </div>
                   {{!-- single-counter-box --}}
                   <div class="col-md-3 col-lg-3 col-xl-3 col-12 col-sm-12">
                       <div class="single-counter-box text-center">
                           <h1>3</h1>
                           <p>Active Event Committee</p>
                           <div class="sinlge-counter-icon-box">
                               <img src="images/icon/icon7.png" alt="">
                           </div>
                       </div>
                   </div>
               </div>
               </div>
           </div>
         </section>
        <!-- client-area -->
        <section>
            <div class="testimonial-section pt-100 mb-30">
                <div class="container-fluid" style="width: 90%;">
                    <div class="row">
                        <div class="col-md-8 col-xl-8 col-lg-8 offset-md-2 offset-lg-2 offset-xl-2">
                            <!-- section-title -->
                        <div class="section-title text-center py-5">
                            <h5>What they Say</h5>
                            <h2>abut <b>Law association of Bangladesh</b></h2>
                        </div>
                        </div>
                        <!-- testimonial-wrapper -->
                        <div class="col-md-12 col-xl-12 col-lg-12">
                            <div class="testimonial-wrapper owl-carousel owl-theme">
                            <!-- signle-testimonila -->
                                <div class="single-testimonial">
                                    <div class="client-photo">
                                        <img src="images/icon/caption/testimonial-1.jpg" alt="client1.svg">
                                    </div>
                                    <div class="star-rating">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star text-none"></i></li>
                                        </ul>
                                    </div>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate eveniet autem ea quas debitis quidem saepe fuga necessitatibus neque eos.</p>
                                    <div class="client-title">
                                        <h5>Md.Ishita Rahman</h5>
                                        <span>Web Developer</span>
                                    </div>
                                </div>
                                <!-- signle-testimonila -->
                                <div class="single-testimonial">
                                <div class="client-photo">
                                    <img src="images/icon/caption/testimonial-2.jpg" alt="client1.svg">
                                </div>
                                <div class="star-rating">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star text-none"></i></li>
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate eveniet autem ea quas debitis quidem saepe fuga necessitatibus neque eos.</p>
                                <div class="client-title">
                                    <h5>Md. Hassan Ahmed</h5>
                                    <span>Ceo,Tajkamakha.</span>
                                </div>
                                </div>
                                <!-- signle-testimonila -->
                                <div class="single-testimonial">
                                <div class="client-photo">
                                    <img src="images/icon/caption/testimonial-3.jpg" alt="client1.svg">
                                </div>
                                <div class="star-rating">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star text-none"></i></li>
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate eveniet autem ea quas debitis quidem saepe fuga necessitatibus neque eos.</p>
                                <div class="client-title">
                                    <h5>Md. Shimul Ahmed</h5>
                                    <span>Web Developer</span>
                                </div>
                                </div>
                                <!-- signle-testimonila -->
                                <div class="single-testimonial">
                                <div class="client-photo">
                                    <img src="images/icon/caption/testimonial-4.jpg" alt="client1.svg">
                                </div>
                                <div class="star-rating">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star text-none"></i></li>
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate eveniet autem ea quas debitis quidem saepe fuga necessitatibus neque eos.</p>
                                <div class="client-title">
                                    <h5>Md. Hassan Ahmed</h5>
                                    <span>Web Developer</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

         <!-- contact-us -->
    <section>
      <div class="contact-us-area ptb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6 offset-md-3 offset-lg-3 offset-xl-3">
                <!-- section-title -->
                    <div class="section-title text-center py-5">
                        <h5>Describe your demand</h5>
                        <h2>And Get in touch with<b> LAB</b></h2>
                    </div>
                </div>
                <!-- form -->
               <form action="" class="contact-form-wrap">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                           
                     <div class="col-md-8 col-lg-8 col-xl-8 col-sm-12 col-12">
                         <div class="row">
                             <div class="col-md-8 col-lg-8 col-xl-8 offset-md-2 offset-lg-2 offset-xl-2">
                                  <!-- error-success-msg -->
                               <div class="msg-box-wrapper">
                                <span class="msg-box"></span>
                               </div>
                             </div>
                             <!-- first-name -->
                             <div class="col-md-6 col-lg-6 col-xl-6 col-12 col-sm-12">
                                 <div class="form-group">
                                     <input type="text" placeholder="First Name" id="f_name">
                                 </div>
                             </div>
                              <!-- last-name -->
                             <div class="col-md-6 col-lg-6 col-xl-6 col-12 col-sm-12">
                                 <div class="form-group">
                                     <input type="text" placeholder="Last Name" id="l_name">
                                 </div>
                             </div>
                             <!-- Email -->
                             <div class="col-md-6 col-lg-6 col-xl-6 col-12 col-sm-12">
                                 <div class="form-group">
                                     <input type="email" placeholder="Email" id="u_email">
                                 </div>
                             </div>
                              <!-- Phone -->
                             <div class="col-md-6 col-lg-6 col-xl-6 col-12 col-sm-12">
                                 <div class="form-group">
                                     <input type="text" placeholder="Phone" id="u_phone">
                                 </div>
                             </div>
                               <!-- Select Service -->
                               <div class="col-md-6 col-lg-6 col-xl-6 col-12 col-sm-12">
                                   <div class="form-group">
                                       <select name="" id="service">
                                           <option value="-Select Service">-Select Service</option>
                                           <option value="Digital Marketing">Digital Marketing</option>
                                           <option value="SEO">SEO</option>
                                           <option value="Web Development">Web Development</option>
                                           <option value="Android">Android</option>
                                       </select>
                                   </div>
                               </div>
                                 <!-- Subject -->
                             <div class="col-md-6 col-lg-6 col-xl-6 col-12 col-sm-12">
                                 <div class="form-group">
                                     <input type="text" placeholder="Subject" id="subject">
                                 </div>
                             </div>
                              <!-- Message -->
                             <div class="col-md-12 col-lg-12 col-xl-12 col-12 col-sm-12">
                                 <div class="form-group">
                                     <textarea name="" id="u_message" cols="5" rows="3" placeholder="Message"></textarea>
                                 </div>
                             </div>
                               <!-- submit button -->
                               <div class="col-md-6 col-lg-6 col-xl-6 col-6 col-sm-6">
                                   <div class="form-group">
                                       <button type="submit" class="submit-message" id="submit"> Send Message</button>
    
                                   </div>
                               </div>
                                <!-- loader -->
                                <div class="col-md-6 col-lg-6 col-xl-6 col-6 col-sm-6">
                                    <div class="form-group">
                                      <div class="loader-box">
                                        <img src="assets/images/login/Spinner-1s-200px.gif" alt="spinner.gif">
                                      </div>
                                    </div>
                                </div>
                         </div>
                     </div>
                        <!-- google-map -->
                        <div class="col-md-4 col-lg-4 col-xl-4 col-12 col-sm-12">
                         <div class="map-wrapper">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3608.7365531999494!2d55.29768101501043!3d25.245796783873608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s3%2C%202%2C%20B%2C%20King%20of%20Dubai%20Commercial%20-!5e0!3m2!1sen!2sbd!4v1610190021835!5m2!1sen!2sbd" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                         </div>
                     </div>
                    </div>
                 </div>
               </form>
            </div>
        </div>
      
      </div>
    </section>
    <!-- footer-section -->
    <footer>
      <div class="footer-section">
          <div class="container">
              <div class="row">
                  <!-- single-footer-widget -->
                  <div class="col-md-5 col-lg-5 col-xl-5 col-12 col-sm-12">
                      <div class="single-widget">
                        <div class="logo">
                            <img src="assets/images/logo/logo.png" alt="logo.png">
                        </div>
                        <p>Get in touch with smart technology and get your Expected service from Technolt</p>
                        <div class="social-link">
                            <ul>
                                <li><a href="https://www.facebook.com/polockgrp/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                      </div>
                  </div>
                    <!-- single-footer-widget -->
                    <div class="col-md-2 col-lg-2 col-xl-2 col-12 col-sm-12">
                    <div class="single-widget">
                       <h5>Our Concern</h5>
                        <div class="quick-link-footer">
                            <ul>
                                <li><a href="http://www.ngitbd.com/">NGIT</a></li>
                                <li><a href="http://1touchbd.com/">1touch</a></li>
                                <li><a href="https://www.facebook.com/PolockInteriorDesign">Polock Interior</a></li>
                                <li><a href="dryexpre.com.bd">Dry Express</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                        <!-- single-footer-widget -->
                  <div class="col-md-2 col-lg-2 col-xl-2 col-12 col-sm-12">
                    <div class="single-widget">
                        <h5>Services</h5>
                        <div class="quick-link-footer">
                            <ul>
                                <li><a href="#">Interior</a></li>
                                <li><a href="#">Bank Management System</a></li>
                                <li><a href="#">Home & Commercial Automation </a></li>
                                <li><a href="#">Dry Express</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- single-footer-widget -->
                <div class="col-md-3 col-lg-3 col-xl-3 col-12 col-sm-12">
                    <div class="single-widget">
                        <h5>Our Address</h5>
                         <div class="single-box">
                            <div class="footer-icon">
                                <i class="flaticon-house"></i>
                            </div>  
                             <div class="add-info">
                                3, 2, B, King of Dubai Commercial - (Bur Dubai Mankhool )
                             </div>
                         </div>
                         <div class="single-box">
                            <div class="footer-icon">
                                <i class="flaticon-mail"></i>
                            </div>  
                             <div class="add-info">
                                info@polockgroup.com
                             </div>
                         </div>
                         <div class="single-box">
                            <div class="footer-icon">
                                <i class="flaticon-call"></i>
                            </div>  
                             <div class="add-info">
                                +971 54 746 2503
                             </div>
                         </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12 copyright-bottom">
                   <div class="row">
                       <div class="col-md-7 col-xl-7 col-lg-7 col-12 col-sm-12">
                           <p class="text-center">Copyright ©2020 All rights reserved | technolt is made by  <a href="#">1-touch</a></p>
                       </div>
                       <div class="col-md-5 col-xl-5 col-lg-5 col-12 col-sm-12">
                         <ul class="footer-link-bottom">
                             <li><a href="#">Terms of Service</a></li>
                             <li><a href="#">Privacy Policy</a></li>
                             <li><a href="#">Support</a></li>
                         </ul>
                      </div>
                   </div>
                </div>
              </div>
          </div>
      </div>
    </footer>
      </div>
      </div>
     
    </div>
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
    <script src="plugins/js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/pages/frontend/home.js"></script>
    <script src="js/pages/frontend/active.js"></script>
    <script src="js/pages/frontend/cart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="active.js"></script>
    <script src="formValidate.js"></script>
    <script src="home.js"></script>
    <script>
        $(document).ready(function () {
            $('.main-menu-header li a').click(function(e) {
                $('.main-menu-header li a.active').removeClass('active');
                var $parent = $(this).siblings();
                $parent.addClass('active');
                e.preventDefault();
            });
           });
    </script>
 

</body>

</html>