{{>header}}

        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{>nav}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
              {{!-- ID Card --}}
            <!-- Button trigger modal -->
                <!-- Modal -->
               <div class="modal fade"  id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" >
                  <div class="modal-content custom-content-card text-center ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">User ID Card</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                  
                      <div class="custom-card shadow"  id="idcardWrap">
                        {{!-- card-front --}}
                        <div class="card-front">
                              {{!-- front-header --}}
                            <div class="card-front-header d-flex justify-content-between">
                              <div class="logo-card">
                                <img style="width: 35px;" src="/images/logo.png" alt="logo">
                              </div>
                              <div class="qrcode-card">
                                <input type="hidden" id="qr_code_value_id" value={{userData.[0].id}}>
                                <input type="hidden" id="qr_code_value_name" value={{userData.[0].name}}>
                                <input type="hidden" id="qr_code_value_email" value={{userData.[0].email}}>
                                <input type="hidden" id="qr_code_value_phone" value={{userData.[0].phone}}>
                                <input type="hidden" id="qr_code_value_division" value={{userData.[0].division}}>
                                {{!-- qr_code display --}}
                                <div id="output_qr"></div>
                                
                                 {{!-- <img style="width: 50px;" src="/images/qr.png" alt="qr"> --}}
                              </div>
                            </div>
                          
                            {{!-- front-image-card --}}
                            <div class="front-image-card w-50">
                              <div class="img-shape">
                                <img src="data:image/png;base64,{{userData.[0].userphoto}}" style="width: 120px;" alt="proimg">
                              </div>
                            </div>
                            <div class="name_title">
                              <h4>{{userData.[0].firstname}}  {{userData.[0].lastname}}</h4>
                              <h5>{{designation userData.[0].committee_designation}}</h5>
                              <span class="d-block">Central committee (LAB)</span>
                              <small>Valid Till 24-07-2023</small>
                              
                            </div>
                            <div class="info-card text-left mt-2">
                            <h4><strong>ID: <span>00000{{userData.[0].id}}</span></strong></h4>
                            <small>Blood Group: <span>{{userData.[0].bloodgroup}}</span></small>
                            <p>Mob: <span>+88{{userData.[0].phone}}</span></p>
                            </div>
                            <div class="id-card-footer">
                              <div class="auth d-flex justify-content-between">
                                <div class="auth-president">
                                  <span>President</span>
                                  <i class="d-block">Signature</i>
                                </div>
                                <h6>Authorised By:</h6>
                                <div class="auth-secretary">
                                  <span>Secretary</span>
                                  <i class="d-block">Signature</i>
                                </div>
                              </div>
                            </div>
                        </div>
                         <div class="html2pdf__page-break"></div>
                        {{!-- card-Back --}}
                        <div class="card-front back mt-1  text-center position-relative" > 
                         <div class="logo-card-back mb-1 ">
                              <img style="width: 70px;" src="/images/logo.png" alt="logo">
                         </div>
                         <div class="heading-back text-uppercase mt-3">
                            <h4 style="font-size: 8px; color:black; line-height:0%" class="font-weight-bold">Law association of bangladesh</h4>
                            <span style="font-size: 6px; letter-spacing:1px;color:rgb(31, 31, 31);font-wight:500px; margin-top:-2px;display:block">Fight for right i fight for justice</span>
                          </div>
                          <div class="contact-info-card">
                            <ul>
                              <li><i class="fa fa-mobile mr-1" aria-hidden="true"></i> +88{{userData.[0].phone}}</li>
                              <li><i class="fa fa-map-marker mr-1" aria-hidden="true"></i>{{userData.[0].upazila}},{{userData.[0].district}},Bangladesh</li>
                              <li><i class="fa fa-envelope mr-1" aria-hidden="true"></i> {{userData.[0].email}}</li>
                            </ul>
                      
                          
                          </div>
                          <div class="id-card-footer back">
                            www.labbd.org
                            </div>
                        </div>
                      
                  </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="pdfGenarator()" class="btn btn-primary">Download</button>
                    </div>
                 </div>
                </div>
               </div>
               {{!-- commitee Edit modal --}}
               <!-- Button trigger modal -->
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                         
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for=""> USER ID</label>
                            <input type="text" readonly value="" class="form-control" id="com_id" readonly> 
                        </div>
                          <div class="form-group">
                              <label for="">Name</label>
                              <input type="text"  value="" class="form-control" id="name" readonly>
                        </div>
                        <div class="form-group">
                              <label for="">Designation</label>
                              <input type="text"  value="" class="form-control" id="designation" readonly>
                        </div>
                         <div class="form-group">
                              <label for="">Vote</label>
                              <input type="text"  value="" class="form-control" id="vote" readonly>
                        </div>
                          <div class="form-group">
                            <label for="">Attachment</label>
                            <div class="img-box" id="attachment">

                            </div>
                              
                          </div>
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                    </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14">Nomination List</h4>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">


                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row pt-2 m-1 ">
                    <div class="col-sm-12">
                        {{#if message}}
                            <div class="alert alert-success" role="alert">
                                {{message.message}}
                            </div>
                        {{/if}}
                        <div  class="card card-warning card-outline shadow">
                           <div class="card-header d-flex justify-content-between">
                            <a href="/admin/nominationlist/{{id}}" class="btn btn-secondary"><i class="fa fa-list-ul mr-2" aria-hidden="true"></i>Nomination list</a>
                            <a href="/admin/nominationhistorylist/{{id}}" class="btn btn-purple"><i class="fa fa-history mr-2" aria-hidden="true"></i>Nomination History</a>
                           </div>
                            <div class="card-body">
                             <div class="row">
                             {{#each designationData as |designationData|}}
                               {{!-- single-nomination --}}
                               <div class="col-md-3 col-12 col-sm-6 ">
                                 <div class="card border text-center">
                                   <div class="card-header">
                                    <b style="font-size: 12px;text-transform:uppercase">{{this.name}} <span> </span></b>
                                    
                                     <span style="font-size: 10px; padding:6px;"> </span>
                                   </div>
                                 </div>
                                  {{!-- single-user --}}
                                   {{#each ../allNominationData as |allNominationData|}}
                                      {{designationlist ../this.name this.designation this.id this.committee_id this.name this.userid this.vote this.delete_status this.nomination_attachment}}
                                      
                                   {{/each}}
                               </div>  
                              {{/each}}
                               <div class="col-md-12 col-sm-12 col-12 mt-4">
                                 <div class="nomination-action d-flex justify-content-end w-100">
                                   <div class="btn-group">
                                     <a class="btn btn-secondary mr-2" href="/admin/customresult/{{id}}">Custom Result </a>
                                     <a class="btn btn-primary " href="/admin/publishresult/{{id}}">Publish Result</a>
                                   </div>
                                 </div>
                               </div>
                             </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- updated-nominationlist --}}
                  <div class="row pt-2 m-1 d-none">
                    <div class="col-sm-12">
                        {{#if message}}
                            <div class="alert alert-success" role="alert">
                                {{message.message}}
                            </div>
                        {{/if}}
                        <div  class="card card-warning card-outline shadow">
                           <div class="card-header">
                             Nomination list 
                           </div>
                            <div class="card-body">
                             <div class="row">
                             {{#each allNominationData}}
                               {{!-- single-nomination --}}
                               <div class="col-md-4 col-4 col-sm-6 ">
                                 <div class="card border text-center">
                                   <div class="card-header d-flex justify-content-between">
                                       <b style="font-size: 10px;">{{this.name}}</b>
                                       <a onclick=" return confirm('Are you sure?')" class="btn btn-sm btn-danger" href="/admin/deletenomination/{{this.id}}/{{this.committee_id}} " ><i class="far fa-times-circle"></i></a>
                                   </div>
                                   <span style="font-size: 10px; padding:6px;"> {{this.designation}}</span>
                                   <div class="card-footer d-flex justify-content-between">
                                     <a class="btn btn-sm btn-outline-primary" href="/users/singleuserview/{{this.userid}}">Details</a>
                                     <a class="btn btn-sm btn-info">Vote: {{this.vote}}</a>
                                     
                                   </div>
                                 </div>
                               </div>  
                              {{/each}}
                               <div class="col-md-12 col-sm-12 col-12 mt-4">
                                 <div class="nomination-action d-flex justify-content-end w-100">
                                   <div class="btn-group">
                                     <a class="btn btn-secondary mr-2" href="/admin/customresult/{{id}}">Custom Result </a>
                                     <a class="btn btn-primary " href="/admin/publishresult/{{id}}">Publish Result</a>
                                   </div>
                                 </div>
                               </div>
                             </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
             <script>

                const name_el =  document.getElementById('name'); 
                const id_el =  document.getElementById('com_id'); 
                const attachment_el =  document.getElementById('attachment');
                const designation_el =  document.getElementById('designation');
                const vote_el =  document.getElementById('vote');
                const displayDataIntoModal = (id,name,designation,attachment,vote)=>{
                    console.log(id)
                    id_el.value = id;
                    name_el.value = name;
                    designation_el.value = designation;
                    vote_el.value = vote;
                 
                    attachment_el.innerHTML = `<img src="data:image/png;base64,${attachment}" alt="user-img" width="36">`
                    
                }

                //onsubmit
                
                
            </script>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
           {{>footer}}