<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Taijul - Personal Portfolio Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Node js developer, react js developer, html developer, mysql developer ,mongodb developer  "/>
        <meta name="keywords" content="css3,bootstrap 4,nodejs, mysql, jquery,javascripts, mongodb, react"/>
        <meta content="Taijul" name="author"/>
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.ico">
        <!-- Bootstrap -->
        <link href="/css/portfolio/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!-- MK Lightbox -->
        <link href="/css/portfolio/mklb.css" rel="stylesheet" type="text/css"/>
       <!-- icon -->
        <link href="/css/portfolio/materialdesignicons.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.2.89/css/materialdesignicons.min.css" integrity="sha512-Tem/uYI6RjLCVQtHePMIFtgHxXjfQVUaiSuhFYBG7RSrBD4NqXsNObfHAmDn6hCV+ickebggCTdnAnZbfF9FHQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Slider -->               
        <link href="/css/portfolio/tiny-slider.css" rel="stylesheet"/>
        <!-- Main css File -->
        <link href="/css/portfolio/style.css" rel="stylesheet" type="text/css" id="theme-opt"/>
        <link href="/css/portfolio/colors/default.css" rel="stylesheet" id="color-opt"/>
        
    </head>
     
    <body data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="20">
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <!-- Loader -->

        <!-- Navbar Start -->
        <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light sticky">
            <div class="container">
                <!-- Logo container-->
                <a class="logo" href="javascript:void(0)">Taijul</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" 
                aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button><!--end button-->

                <div class="collapse navbar-collapse navigation" id="navbarCollapse">
                    <ul id="navbar-navlist" class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#services">Services</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#resume">Resume</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#projects">Projects</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#news">Blog</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li><!--end nav item-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Others
                            </a>
                            <div class="dropdown-menu rounded m-0" aria-labelledby="navbarDropdown">
                                <div class="container ms-0 ms-md-0">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="dropdown-item" href="/blog">Blog</a>
                                            <a class="dropdown-item" href="/portfolio">Portfolio</a>
                                            <a class="dropdown-item" href="/contact">Contact</a>
                                            <a class="dropdown-item" href="/services">Service</a>
                                          
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </div><!--end container-->
                            </div>
                        </li><!--end nav item-->
                    </ul>

                    <ul class="top-right text-end list-unstyled list-inline mb-0 mt-2 mt-sm-0 nav-social">
                        <li class="list-inline-item me-2"><a ><i class="mdi mdi-facebook "></i></a></li>
                        <li class="list-inline-item me-2"><a ><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a ><i class="mdi mdi-instagram"></i></a></li>
                    </ul>
                    
                </div> 
            </div><!--end container-->
        </nav><!--end navbar-->
        <!-- Navbar End -->
      
      

         <!-- Hero Start -->
        <section class="bg-half d-table w-100" style="background: url('images/bg-posted.jpg')center center;">
            <div class="bg-overlay bg-overlay-white"></div>
            <div class="container">
                <div class="row  justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level">
                            <h4 class="title text-black">Resume </h4>
                            <div class="page-next mt">
                                <nav aria-label="breadcrumb" class="d-inline-block">
                                    <ul class="breadcrumb rounded mb-0 mt-3">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Page</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Resume</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>  <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->
        <!-- Start Section -->
        <section class="section" id="resume">
            <div class="container">

                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="main-timeline">
                                {{#each workperticipateData}}
                                {{!-- single work perticipate --}}
                                <div class="timeline mt-4">
                                    <a href="javascript:void(0)" class="timeline-content">
                                        <div class="timeline-icon text-primary">
                                            <i data-feather="navigation" class="fea icon-md"></i>
                                        </div>
                                        <h3 class="title mb-0">{{this.title}}</h3>
                                        <small class="company">{{this.sub_title}}</small>
                                        <span class="badge skill-badge education-badge badge-light">{{this.start_date}} - {{this.end_date}}</span>
                                        <p class="description text-light-muted mt-2">
                                            {{this.details}}
                                        </p>
                                    </a>
                                </div>
                               {{/each}} 
                                <div class="timeline mt-4">
                                    <a href="javascript:void(0)" class="timeline-content">
                                        <div class="timeline-icon text-primary">
                                            <i data-feather="navigation" class="fea icon-md"></i>
                                        </div>
                                        <h3 class="title mb-0">Web Developer</h3>
                                        <small class="company">Oppo - HR Manager</small>
                                        <span class="badge skill-badge education-badge margin-50 badge-light">2012 - 2015</span>
                                        <p class="description text-light-muted mt-2">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum
                                        </p>
                                    </a>
                                </div>
                                <div class="timeline mt-4">
                                    <a href="javascript:void(0)" class="timeline-content">
                                        <div class="timeline-icon text-primary">
                                            <i data-feather="package" class="fea icon-md"></i>
                                        </div>
                                        <h3 class="title mb-0">Graphic Designer</h3>
                                        <small class="company">Apple - Testor</small>
                                        <span class="badge skill-badge education-badge badge-light">2012 - 2010</span>
                                        <p class="description text-light-muted mt-2">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end container -->
        </section><!-- end section -->


        <!-- Footer Start -->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <a href="javascript:void(0)" class="footer-logo text-black">Taijul</a>
                        <p class="para-desc mx-auto mt-5 text-black">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                        <ul class="list-unstyled mb-0 mt-4 social-icon">
                            <li class="list-inline-item me-1"><a href="https://www.facebook.com/profile.php?id=100009451348487" class="rounded-circle"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item me-1"><a href="jhttps://www.facebook.com/profile.php?id=100009451348487" class="rounded-circle"><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item me-1"><a href="javascript:void(0)" class="rounded-circle"><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item me-1"><a href="https://www.instagram.com/taijul169/" class="rounded-circle"><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item me-1"><a href="https://github.com/taijul169" class="rounded-circle"><i class="mdi mdi-google-plus"></i></a></li>
                            <li class="list-inline-item me-1"><a href="https://www.linkedin.com/in/taijul-islam-8b1a72119/" class="rounded-circle"><i class="mdi mdi-linkedin"></i></a></li>
                        </ul>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->
        <footer class="footer footer-bar bg-black">
            <div class="container text-foot text-center">
                <p class="mb-0 text-white-50">© <script>document.write(new Date().getFullYear())</script> Taijul. Developed by <a href="javascript:void(0)" class="text-white-50">Taijul Islam</a></p>
            </div><!--end container-->
        </footer><!--end footer-->
        <!-- Footer End -->

        <a href="javascript: void(0);" class="back-to-top btn btn-icon btn-soft-primary" id="back-to-top" onclick="topFunction()">
            <i data-feather="arrow-up" class="icons"></i>
        </a>
        <!-- Back to top -->

        <!-- Style Switcher -->
        <div  id="style-switcher" class="bg-light border p-3 pt-2 pb-2 d-none" onclick="toggleSwitcher()">
            <div>
                <h6 class="color-scheme-title text-center font-weight-bolder mb-2">Select your color</h6>
                <ul class="pattern text-center mb-0">
                    <li class="list-inline-item">
                        <a class="default" href="javascript: void(0);" onclick="setColor('default')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="blue" href="javascript: void(0);" onclick="setColor('red')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="green" href="javascript: void(0);" onclick="setColor('green')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="mosaic-blue" href="javascript: void(0);" onclick="setColor('mosaic-blue')"></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="light-yellow" href="javascript: void(0);" onclick="setColor('light-yellow')"></a>
                    </li>  
                    <li class="list-inline-item">
                        <a class="purple" href="javascript: void(0);" onclick="setColor('purple')"></a>
                    </li>            
                </ul>
                <div class="bottom">
                    <a href="javascript: void(0);" class="settings bg-white shadow d-block"><i class="mdi mdi-settings mdi-24px position-absolute mdi-spin text-primary"></i></a>
                </div>
            </div>
        </div>
           <div class="loader-wrapper" id="loader-wrapper">
            <img src="/images/loader.gif" alt="">
          </div>
         
        <!-- End Style Switcher -->

        <!-- Javascript -->
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="/js/portfolio/bootstrap.bundle.min.js"></script>
        <!-- Slider -->
        <script src="/js/portfolio/tiny-slider.js "></script>
        <script src="/js/portfolio/tiny-slider-init.js "></script>
        <!-- MK Lightbox -->
        <script src="/js/portfolio/mklb.js"></script>
        <!-- Contact -->
        <script src="/js/portfolio/contact.js"></script>
        <!-- Counter init -->
        <script src="/js/portfolio/counter.init.js"></script>
        <!-- Feather icon -->
        <script src="/js/portfolio/feather.min.js"></script>
        <!-- Typed -->
        <script src="/js/portfolio/typed.js"></script>
        <script src="/js/portfolio/typed.init.js"></script>
        <!-- Switcher -->
        <script src="/js/portfolio/switcher.js"></script>
        <!-- Main Js -->
        <script src="/js/portfolio/app.js"></script>
    </body>
</html>